@import '../variables';

.item{
   width: 280px;
   text-align: center;
   margin-bottom: 65px;
   justify-self: center;

   @media (max-width: 360px) {
      width: 260px;
   }
  
    &-image {
      width: 260px;
      cursor: pointer;

      @media (max-width: 360px) {
        width: 240px;
     }
    }
  
    &-title {
      font-size: 20px;
      font-weight: 900;
      letter-spacing: 1%;
      margin-bottom: 20px;
    }
  
    &-selector {
      display: flex;
      background-color: #f3f3f3;
      border-radius: 10px;
      flex-direction: column;
      padding: 6px;
  
      ul {
        display: flex;
        align-items: center;
        flex: 1;
  
        li {
          flex: 1;
          cursor: pointer;
          font-weight: 600;
          font-size: 14px;
          padding: 5px;
         //  @include noselect();

          &.active {
            background: #ffffff;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
            border-radius: 5px;
            cursor: auto;
          }
        }
      }
    }
  
    &-bottom {
      display: flex;
      align-items: center;
      // justify-content: space-between;
      margin-top: 5px;
      background-color: #f3f3f3;
      border-radius: 10px;
      padding: 6px;
      
      p{
         flex-basis: 33%;
         cursor: pointer;
         font-weight: 600;
         padding: 7px;

         &.active {
            background: #ffffff;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
            border-radius: 5px;
            cursor: auto;
          }
      }
    }
  
    &-price-block {
      margin-top: 20px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .price{
         font-weight: bold;
         font-size: 22px;
         line-height: 27px;
         letter-spacing: 0.015em;
      }

      .add{
         padding: 10px 20px;
         background-color: orangered;
         font-weight: 700;
         color: white;
         border: none;
         border-radius: 20px;
         cursor: pointer;
         border: 2px solid orangered;

         &:hover{
            background-color: white;
            color: orangered;
         }
      }
    }
}