.app-wrapper {
  background-color: rgba(255, 123, 0, 0.61);
  min-height: 100vh;
  padding: 50px 0;
}
.app-wrapper .app-container {
  background-color: white;
  width: calc(100% - 100px);
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px 30px;
  border-radius: 10px;
  height: 100%;
  max-width: 1400px;
}

.header-wrapper .header-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-wrapper .header-body .header-left {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-wrapper .header-body .header-left img {
  cursor: pointer;
}
@media (max-width: 400px) {
  .header-wrapper .header-body .header-left .title-body {
    text-align: center;
  }
}
.header-wrapper .header-body .header-left .title-body p {
  color: gray;
}
@media (max-width: 400px) {
  .header-wrapper .header-body .header-left {
    flex-direction: column;
  }
}
.header-wrapper .header-body .header-right {
  display: flex;
  gap: 10px;
}
.header-wrapper .header-body .header-right button {
  padding: 10px;
  border-radius: 20px;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}
.header-wrapper .header-body .header-right .login {
  background-color: black;
  color: white;
  border: 2px solid black;
}
.header-wrapper .header-body .header-right .login:hover {
  background-color: white;
  color: black;
}
.header-wrapper .header-body .header-right .basket {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: orangered;
  color: white;
  border: 2px solid orangered;
  font-size: 14px;
}
.header-wrapper .header-body .header-right .basket:hover {
  background-color: white;
  color: orangered;
}
.header-wrapper .header-body .header-right .basket .line {
  width: 2px;
  height: 20px;
  background-color: white;
}
.header-wrapper .header-body .header-right .basket .text {
  display: flex;
  align-items: center;
  gap: 3px;
}
@media (max-width: 570px) {
  .header-wrapper .header-body {
    flex-direction: column;
    justify-content: none;
    gap: 20px;
  }
}

.menu-wrapper .menu-choose-wrapper {
  display: flex;
  justify-content: space-around;
}
.menu-wrapper .menu-choose-wrapper .menu-choose {
  display: flex;
  gap: 40px;
}
@media (max-width: 1220px) {
  .menu-wrapper .menu-choose-wrapper .menu-choose {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 660px) {
  .menu-wrapper .menu-choose-wrapper .menu-choose {
    max-width: calc(100% - 20px);
  }
}
@media (max-width: 935px) {
  .menu-wrapper .menu-choose-wrapper {
    flex-direction: column;
    justify-content: none;
    gap: 20px;
    align-items: center;
  }
}
.menu-wrapper .menu-container {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 1em;
}
@media (max-width: 1070px) {
  .menu-wrapper .menu-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 540px) {
  .menu-wrapper .menu-container {
    grid-template-columns: 1fr;
  }
}
.menu-wrapper .error-container {
  margin: 50px auto;
  width: 500px;
  text-align: center;
}
.menu-wrapper .error-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.menu-wrapper .error-container p {
  font-size: 18px;
  color: gray;
}

.categories ul {
  display: flex;
  gap: 10px;
  align-items: center;
}
.categories ul li {
  border-radius: 20px;
  background-color: rgba(153, 152, 152, 0.205);
  padding: 7px 14px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}
.categories ul li:hover {
  background-color: black;
  color: white;
}
.categories ul li.active {
  background-color: black;
  color: white;
}
@media (max-width: 540px) {
  .categories ul {
    max-width: calc(100% - 40px);
    overflow-x: scroll;
  }
}

.sort-wrapper {
  padding: 5px 0;
  position: relative;
}
.sort-wrapper .sort-label {
  display: flex;
  align-items: baseline;
  gap: 10px;
  margin-bottom: 10px;
}
.sort-wrapper .sort-label .sort-icon {
  align-self: center;
}
.sort-wrapper .sort-label span {
  color: orangered;
  border-bottom: 1px dashed orangered;
  cursor: pointer;
}
.sort-wrapper .sort-popup {
  padding: 10px;
  width: 200px;
  box-shadow: 2px 2px 6px 1px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
  z-index: 999;
  position: absolute;
  background-color: white;
}
.sort-wrapper .sort-popup .popup-wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.sort-wrapper .sort-popup .popup-wrapper ul li {
  padding: 10px;
  cursor: pointer;
}
.sort-wrapper .sort-popup .popup-wrapper ul li:hover {
  background-color: rgba(255, 68, 0, 0.2);
  color: orangered;
}
.sort-wrapper .sort-popup .popup-wrapper ul li.active {
  background-color: rgba(255, 68, 0, 0.2);
  color: orangered;
}

.search-wrapper {
  border: 1px solid gray;
  border-radius: 10px;
  height: 20px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.search-wrapper input {
  outline: none;
  border: none;
}
.search-wrapper input::-moz-placeholder {
  color: gray;
}
.search-wrapper input::placeholder {
  color: gray;
}
.search-wrapper .icon {
  cursor: pointer;
  color: gray;
}
.search-wrapper .icon:hover {
  color: black;
}

.item {
  width: 280px;
  text-align: center;
  margin-bottom: 65px;
  justify-self: center;
}
@media (max-width: 360px) {
  .item {
    width: 260px;
  }
}
.item-image {
  width: 260px;
  cursor: pointer;
}
@media (max-width: 360px) {
  .item-image {
    width: 240px;
  }
}
.item-title {
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1%;
  margin-bottom: 20px;
}
.item-selector {
  display: flex;
  background-color: #f3f3f3;
  border-radius: 10px;
  flex-direction: column;
  padding: 6px;
}
.item-selector ul {
  display: flex;
  align-items: center;
  flex: 1;
}
.item-selector ul li {
  flex: 1;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  padding: 5px;
}
.item-selector ul li.active {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  cursor: auto;
}
.item-bottom {
  display: flex;
  align-items: center;
  margin-top: 5px;
  background-color: #f3f3f3;
  border-radius: 10px;
  padding: 6px;
}
.item-bottom p {
  flex-basis: 33%;
  cursor: pointer;
  font-weight: 600;
  padding: 7px;
}
.item-bottom p.active {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  cursor: auto;
}
.item-price-block {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.item-price-block .price {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.015em;
}
.item-price-block .add {
  padding: 10px 20px;
  background-color: orangered;
  font-weight: 700;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid orangered;
}
.item-price-block .add:hover {
  background-color: white;
  color: orangered;
}

.cart-item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 80px;
  margin: 0 auto;
}
.cart-item > img {
  max-width: 100px;
}
.cart-item .cart-desc {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.cart-item .cart-desc h3 {
  font-size: 20px;
}
.cart-item .cart-desc > p {
  color: gray;
}
.cart-item .cart-counter {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 24px;
  font-weight: 700;
  width: 13%;
}
.cart-item .cart-counter .minus, .cart-item .cart-counter .plus {
  border: 2px solid orangered;
  color: orangered;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
}
.cart-item .cart-counter .minus:hover, .cart-item .cart-counter .plus:hover {
  background-color: orangered;
  color: white;
}
.cart-item .price {
  font-weight: 700;
  font-size: 24px;
  width: 33%;
}
.cart-item .cart-delete {
  border: 2px solid gray;
  color: gray;
  width: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  width: 32px;
  height: 26px;
}
.cart-item .cart-delete:hover {
  background-color: gray;
  color: white;
}

.cart-wrapper .cart-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.cart-wrapper .cart-container .cart-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cart-wrapper .cart-container .cart-top h1 {
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.cart-wrapper .cart-container .cart-top > p {
  display: flex;
  font-size: 14px;
  align-items: center;
  gap: 10px;
  color: gray;
  cursor: pointer;
}
.cart-wrapper .cart-container .cart-center {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart-wrapper .cart-container .cart-bottom {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cart-wrapper .cart-container .cart-bottom .cart-summary {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
}
.cart-wrapper .cart-container .cart-bottom .cart-summary > p {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cart-wrapper .cart-container .cart-bottom .cart-summary > p .cart-total-items {
  font-weight: 700;
}
.cart-wrapper .cart-container .cart-bottom .cart-summary > p .total-price {
  font-weight: 700;
  color: orangered;
}
.cart-wrapper .cart-container .cart-bottom .cart-btn-block {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cart-wrapper .cart-container .cart-bottom .cart-btn-block button {
  border-radius: 20px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
.cart-wrapper .cart-container .cart-bottom .cart-btn-block .back {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  border: 2px solid black;
}
.cart-wrapper .cart-container .cart-bottom .cart-btn-block .back:hover {
  background-color: black;
  color: white;
}
.cart-wrapper .cart-container .cart-bottom .cart-btn-block .buy {
  border: 2px solid orangered;
  background-color: orangered;
  color: white;
}
.cart-wrapper .cart-container .cart-bottom .cart-btn-block .buy:hover {
  background-color: transparent;
  color: orangered;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}